@import '../../../common.styl'

.screenWrapper
  padding 28px

.screen
  background white

.table
  display block

.head
  display block

.row
  display block

.body
  display block

.pagination
  display block
